html,
body {
    height: 100%;
    margin: 0;
    font-size: large;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    margin: 8px;
    flex: 1;
}

footer {
    text-align: center;
    padding: 1rem;
}